@{
    ViewBag.Title = "¿Que es esta página?";
}
<h2>Eventos ACG -Malaga</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Esta págna web esta pensada para dar de alta los eventos que se realicen en Malaga 
    y hacer más facil el control de los asistentes a cada uno de ellos</p>
